{% extends 'main.html' %}

{% load static %}

{% block title %} Chattebox - list of rooms {% endblock %}
{% block header %} Chattebox - list of rooms {% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h2>List of rooms:</h2>
  <ul>
    {% for room in rooms %}
    <li>
      <span class="private">
        {% if room.private %}
          🔒
        {% else %}
          🔓
        {% endif %}
      </span>
      <a href="{% url 'room' room.id %}"> {{ room.name }} </a> - {{ room.description }}
      {% if request.user == room.owner or request.user.is_superuser %}
        <span class="delete">
          <a href="{% url 'delete_room' room.id %}">&#10006;</a>
        </span>
        <span class="edit">
          <a href="{% url 'edit_room' room.id %}">🖉</a>
        </span>
      {% endif %}
        <span class="messages_count">
          (number of messages: {{ room.messages_count }})
        </span>
        {% if room.messages_count > 0 %}
          <span class="last_message_time">
            last message: {{ room.last_message_time }}
          </span>
        {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}