{% extends 'main.html' %}

{% load static %}

{% block title %} Chattebox - {{ room.name }} {% endblock %}
{% block header %} Chattebox - {{ room.name }} {% endblock %}

{% block content %}
{% if show %}
  <h2>Room: {{ room.name }}</h2>
  <p>Theme: {{ room.theme }}</p>
  <p>Description: {{ room.description }}</p>
  <p>Private: {{ room.private }}</p>
  {% if room.owner.profile.id %}
    <p>Owner: <a href="{% url 'profile' room.owner.profile.id %}">{{ room.owner }}</a></p>
  {% else %}
    <p>Owner: {{ room.owner }}</p>
  {% endif %}
  <p>Created: {{ room.created }}</p>
  <p>Updated: {{ room.updated }}</p>

  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="body">Message:</label>
    <!-- <input type="text" id="body" name="body" value=""> -->
    <textarea name="body" id="body" rows="1" cols="100"></textarea>
    <input type="file" name="upload" accept="image/*">  <!-- omezujeme se pouze na obrázky -->
    <input type="submit" value="Send">
  </form>

  {% for message in messages %}
    {% if message.user == request.user %}
      <div class="my-message">
        <span class="message-user">{{ message.user }}</span>
        <span class="message-created">{{ message.created }}</span>
        <div class="message-body">{{ message.body }}</div>
        {% if message.file %}
          <a href="{{ message.file }}"><img src="{{ message.file }}" width="50px"></a>
        {% endif %}
      </div>
    {% else %}
      <div class="other-message">
        {% if message.user.profile.id %}
          <span class="message-user"><a href="{% url 'profile' message.user.profile.id %}">{{ message.user }}</a></span>
        {% else %}
          <span class="message-user">{{ message.user }}</span>
        {% endif %}
        <span class="message-created">{{ message.created }}</span>
        <div class="message-body">{{ message.body }}</div>
        {% if message.file %}
          <a href="{{ message.file }}"><img src="{{ message.file }}" width="50px"></a>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  You are not allowed to see this room.
  {% if not request_pending %}
    Do you want access?
    <span class="private-request-yes"><a href="{% url 'private_request' room.id %}">YES</a></span>
    <span class="private-request-no"><a href="{% url 'rooms' %}">NO</a></span>
  {% else %}
    Your request date: {{ my_request_date }}
  {% endif %}
{% endif %}
{% endblock %}