<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'chatterapp/style.css' %}">
</head>
<body>

<header>{% block header %} {% endblock %}</header>

<!-- vyhledávací pole -->
{% if request.user.is_authenticated %}
<div id="search">
    <form method="post" action="/search/">
        {% csrf_token %}
        <label for="search">🔍</label>
        <input class="text" name="search">
    </form>
</div>
{% endif %}

<!-- navbar -->
{% include 'navbar.html' %}

<!-- main -->
<main>
          {% block content %}
          {% endblock %}
</main>

</body>
</html>